@import url("http://fonts.googleapis.com/css?family=Bree+Serif|Merriweather");
@import url("http://fonts.googleapis.com/css?family=Open+Sans");
@import url("http://netdna.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.css");
/* line 5, ../../../../var/lib/gems/1.9.1/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline; }

/* line 22, ../../../../var/lib/gems/1.9.1/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1; }

/* line 24, ../../../../var/lib/gems/1.9.1/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none; }

/* line 26, ../../../../var/lib/gems/1.9.1/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0; }

/* line 28, ../../../../var/lib/gems/1.9.1/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle; }

/* line 30, ../../../../var/lib/gems/1.9.1/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none; }
  /* line 103, ../../../../var/lib/gems/1.9.1/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
  q:before, q:after, blockquote:before, blockquote:after {
    content: "";
    content: none; }

/* line 32, ../../../../var/lib/gems/1.9.1/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none; }

/* line 116, ../../../../var/lib/gems/1.9.1/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block; }

/* The following is mine.*/
/* line 5, ../../sass/_base.scss */
body {
  background-color: #B8E68A !important;
  font-family: Merriweather, serif; }

/*#nav-bar, ul, li{
  transition: all 0.5s;
  -moz-transition: all 0.5s; /* Firefox 4 */
/*  -webkit-transition: all 0.5s; /* Safari and Chrome */
/*  -o-transition: all 0.5s; /* Opera */
/*}*/
/* line 17, ../../sass/_base.scss */
#nav-bar {
  height: 80px;
  background-color: #CC9900;
  z-index: 10; }

/* line 23, ../../sass/_base.scss */
#pingyao {
  font-family: Bree Serif, serif;
  font-size: 36px;
  color: #993333; }

/* line 29, ../../sass/_base.scss */
.modalcontent {
  font-family: Bree Serif, serif;
  color: #6B00B2; }

/* line 34, ../../sass/_base.scss */
#header {
  margin-top: 20px;
  font-size: 2em;
  font-family: Bree Serif, serif;
  color: #800000; }

/* line 41, ../../sass/_base.scss */
.title {
  color: #FFFFFF !important;
  font-size: 24px;
  vertical-align: middle; }

/*#background-image{
	width: 100% !important;
	position: fixed;
	background: url("../img/pingyao.jpg");
	background-size: cover;
  background-position: center center;
	height: 500px;
	top: 80px;
}*/
/* line 57, ../../sass/_base.scss */
.kaitou {
  font-size: 3em;
  color: #FFFFFF; }

/* line 62, ../../sass/_base.scss */
#ktktkt {
  margin-top: 20px; }

/* line 66, ../../sass/_base.scss */
.firstImg {
  margin-top: 10px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  height: 500px; }

/* line 75, ../../sass/_base.scss */
.intro {
  margin-top: 10px;
  font-size: 1.8em;
  font-family: Bree Serif, serif;
  /*background-color: #94FFB8;*/
  /*height: 200px;*/
  /*z-index: 3;*/ }

/* line 84, ../../sass/_base.scss */
.pp {
  margin-top: 10px;
  font-family: Bree Serif, serif;
  font-size: 2em;
  color: #CC6699; }

/* line 91, ../../sass/_base.scss */
.clickable:hover {
  cursor: pointer;
  height: 150px; }

/* line 96, ../../sass/_base.scss */
.clickable {
  margin-top: 10px;
  height: 120px;
  width: 100%;
  -webkit-transition: height 1s;
  /* For Safari 3.1 to 6.0 */
  transition: height 1s; }

/* line 104, ../../sass/_base.scss */
.photos {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  height: 550px; }

/* line 115, ../../sass/_base.scss */
#footer {
  clear: both;
  width: 100%;
  background-color: #CC9900;
  /*font:  italic;*/
  font-size: 2em;
  color: #FFFFFF;
  text-align: center;
  z-index: 10;
  height: 80px;
  /*bottom: 0;*/
  position: relative; }

/*#video {
	margin: 0 auto;
	margin-left: auto;
	margin-right: auto;
	overflow: hidden;
	width="1000";
	height="400";
}*/
/*@import "foundation/components/reveal";*/
